<div *ngIf="showBoard" class="w-full text-center mx-10 mb-10">

    <div *ngFor="let el of Cb_cache; index as k">

        <table aria-describedby="simplex table" class="table-auto text-center">
            <thead>
                <tr class="font-normal">
                    <th class="no-border"></th>
                    <th class="font-normal w-14">Cj</th>
                    <th class="font-normal w-14" *ngFor="let cj of Cj_cache[k]">{{cj}}</th>
                </tr>
            </thead>
            <tbody>
                <tr class="font-bold">
                    <td class="w-14">Cb</td>
                    <td>Xb</td>
                    <td *ngFor="let col of columns">{{col}}</td>
                    <td class="w-14">b</td>
                    <td class="w-14">Razón</td>
                </tr>
                <tr *ngFor="let i of boardSize; index as indI">
                    <td>{{Cb_cache[k][indI]}}</td>
                    <td>{{Xb_cache[k][indI]}}</td>
                    <td *ngFor="let j of R_cache[k][indI]; index as indJ">{{R_cache[k][indI][indJ] | number:
                        '1.0-3'}}</td>
                    <td>{{b_cache[k][indI] | number: '1.0-3'}}</td>
                    <td>{{ratio_cache[k][indI] | number: '1.0-3'}}</td>
                </tr>
                <tr>
                    <td class="no-border"></td>
                    <td>Zj</td>
                    <td *ngFor="let el of Zj_cache[k]">{{el | number: '1.0-2'}}</td>
                    <td>{{zValue_cache[k] | number: '1.0-2'}}</td>
                </tr>
                <tr>
                    <td class="no-border"></td>
                    <td>Zj-Cj</td>
                    <td *ngFor="let el of Zj_Cj_cache[k]">{{el | number: '1.0-2'}}</td>
                </tr>
            </tbody>
        </table>

        <p class="text-left text-xl p-4 ml-4" *ngIf="k < outgoingRow.length">Sale la fila {{outgoingRow[k]}} entra
            la columna {{outgoingCol[k]}}</p>
    </div>
</div>