<table aria-describedby="simplex table">
    <thead>
        <tr>
            <th></th>
            <th>Cj</th>
            <th *ngFor="let cj of Cj">{{cj}}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Cb</td>
            <td>Xb</td>
            <td *ngFor="let col of columns2">{{col}}</td>
            <td>b</td>
        </tr>
        <tr>
            <td>{{Cb2[0]}}</td>
            <td>S1</td>
            <td>S2</td>
            <td>S1</td>
        </tr>
    </tbody>
</table>